    <!--Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <div><span>Check Our</span> <span class="description-title">Testimonials</span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "slidesPerView": 1,
              "loop": true,
              "speed": 900,
              "autoplay": {
                "delay": 5000
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Smoky Mountain Acres</h2>
                    <p>
                      We are a local farm in East TN who needed a website that reflected our family's values and mission. One challenge was trying to figure out what sort of design we wanted and what we wanted the website to say. Thomas Web Group worked patiently with us to give us exactly what we were looking for!  
                    </p>
                    <p>
                      I can't recommend them enough and am so excited with our new website!
                    </p>
                    <div class="profile d-flex align-items-center">
                      <div class="profile-info">
                        <h3>Kristen Lee</h3>
                        <span>Client</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/uploads/SmokyMountainAcresLogo.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row">
                  <div class="col-lg-8">
                    <h2>Dad Cuts Grass</h2>
                    <p>
                      Everything changed after I got the new website going. They helped implement instant online quotes for my customers and I was shocked at how well that has converted for us.
                    </p>
                    <p>
                      Really great people. Thanks Thomas Web Group!
                    </p>
                    <div class="profile d-flex align-items-center">
                      <div class="profile-info">
                        <h3>Ray T</h3>
                        <span>Owner</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                    <div class="featured-img-wrapper">
                      <img src="assets/img/uploads/GREENsqLogo.webp" class="featured-img" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Testimonial Item -->

          </div>

          <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->